.custom_login_modal {
    :global {
        .ant-modal-header {
            border-bottom: none;
        }
        .ant-modal-footer {
            border-top: none;
        }
        .ant-modal-body {
            padding: 10px 24px 24px;
        }

    }

    .user_name {
        display: flex;
        align-items: center;
        .name_text {
            width: 60px;
            white-space: nowrap;
        }
    }
    .user_password {
        margin-top: 20px;
        display: flex;
        align-items: center;
        .password_text {
            width: 60px;
            white-space: nowrap;
        }
    }
}