.home_main {
    height: calc(100% - 50px);
    padding: 30px 80px 0;
    box-sizing: border-box;
    display: flex;
    overflow-y: auto;
    animation: identifier 1s ease;

    .home_left {
        flex: 1;
    }

    .home_center {
        flex: 2;
        width: 0;
        margin: 0 25px;
        margin-bottom: 30px;
        height: max-content;

        .article_main {
            width: 100%;
            padding: 20px 16px 10px;
            margin-bottom: 12px;
            border-radius: var(--border-radius);
            background-color: #fff;
            box-shadow: 0 4px 10px rgb(0 0 0 / 5%), 0 0 1px rgb(0 0 0 / 10%);

            .article_title {
                max-width: 100%;
                font-size: 30px;
                color: var(--primary-color);
                display: inline-block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                cursor: pointer;

                &:hover {
                    opacity: .8;
                }
            }

            .article_information {
                display: flex;
                align-items: center;

                .article_author {
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    color: var(--text-minor)
                }

                .article_time {
                    .article_author;
                    margin-left: 12px;
                }

                .article_tag {
                    .article_time;
                }

                i {
                    margin-right: 4px;
                }
            }

            .article_content {
                margin-top: 4px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }

            .article_ratings {
                color: var(--text-sub-main);
                display: flex;
                align-items: center;

                .ratings_text {
                    margin-left: 4px;
                    font-size: 12px;
                }

                .delete_btn {
                    font-size: 12px;
                    color: var(--primary-color);
                    margin-left: auto;
                    cursor: pointer;
                }
            }
        }
    }

    .home_right {
        flex: 1;
        height: max-content;
    }
}

@keyframes identifier {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}