.detail_main {
    height: calc(100% - 50px);
    padding: 30px 170px 0;
    display: flex;
    box-sizing: border-box;
    overflow-y: auto;
    animation: identifier 1s ease;

    .article_main {
        flex: 7;
        margin-bottom: 25px;
        padding: 10px 32px 0;
        height: max-content;
        border-radius: var(--border-radius);
        background-color: #fff;
        box-shadow: 0 4px 10px rgb(0 0 0 / 5%), 0 0 1px rgb(0 0 0 / 10%);
    }

    .side_box {
        flex: 4;
        top: 0;
        height: max-content;
        margin-left: 20px;
        padding: 20px 8px 20px 20px;
        border-radius: 4px;
        box-shadow: 0 4px 10px rgb(0 0 0 / 5%), 0 0 1px rgb(0 0 0 / 10%);
        background-color: #fff;
        position: sticky;
        box-sizing: border-box;

        .catalog {
            font-size: 16px;
            font-weight: 600;
            padding-bottom: 8px;
            margin-bottom: 8px;
            display: block;
            border-bottom: 1px solid #e4e6eb;
        }

        .viewToc {
            height: 400px;
            overflow-y: auto;

            .tocBox {

                .toc {
                    padding: 0;
                    list-style: none;
                }
            }
        }
    }

    .article_information {
        color: var(--text-minor);
        
        .article_time {
            margin-left: 8px;
        }

        .article_tag {
            margin-left: 8px;
        }

        .article_editor_brn {
            margin-left: 24px;
            color: var(--primary-color);
            cursor: pointer;
        }
    }
}

@keyframes identifier {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}